In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
import random
import re
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from textblob import TextBlob,Word, Blobber
nltk.download('stopwords')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.metrics import f1_score, accuracy_score
import html
from html.parser import HTMLParser

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [2]:
#read in data:
df = pd.read_csv('saltyhacker.csv')

df.head(5)

   Unnamed: 0          User                                               Text
0           0       thu2111  Did those people criticise other epidemiologis...
1           1     noisy_boy  I like Aliexpress because most of the times I ...
2           2         lopis  Doesn&#x27;t really matter. The progression of...
3           3         aexol  I have added docs generator for GraphQL Editor...
4           4  frockington1  I haven;t seen any non sensationalized evidenc...

In [0]:
#convert to string
df['Text'] = df['Text'].astype(str)

In [4]:
def cleanup_html(raw_html):
    clean_html = re.sub(r'<.*?>', '', raw_html)
    clean_html_http = re.sub(r'http\S+([\.]{3})?', '', clean_html)
    clean_txt = html.unescape(clean_html)
    return clean_txt
df['Text'] = df['Text'].apply(cleanup_html)
df.sample(10)
for row in df['Text'].sample(10):
    print(row)
    print()

> Coronaviruses are easy to vaccinate against.From what I've read, creating a sufficiently safe vaccine has been quite a challenge.

Clips from my friend in Goa show the street scene hasn't changed. People still loitering and buying things in the open air and forming dense crowds. From the clip maybe less than half had masks. Super disappointing and concerning.These numbers seem far to low given the flippant nature most city dwellers are appearing to have to this disease and taking necessary precautions. To me, this is the calm before the storm.

Both the product and the landing pages are so generic that I would have a hard time calling them a rip off. Every major audio/smartphone company has a product with very similar featurset in their lineup, and this is just Google following suite.

His comment is addressing thoughts about whether official numbers are off by a couple orders of magnitude

The thing that worries me about NYC statistics is that they're awful, and we now have serum tests that indicate that -- at best -- we're about 1/3 of the way through.  (Current serum tests indicate 20-25% of NYC has caught it, current R0 estimates indicate that 70-85% would need to catch it for it to burn itself out without any additional measures.)This puts reasonable estimates of "how bad can it get?" at north of 5000 deaths per million, if we don't properly contain it.  This, really, is the new information we're getting out of US numbers.

Google automatically refunds advertisers for fraudulent clicks each month. It's not a lot (maybe $1,000 refund on an account that spends $600k to 800k/month), but it's a line item on the invoice for sure. You have to trust them for what is a 'fraudulent' click though.

I don't see any particular moral value in chores.Sure I could make my own shoes  but it doesn't interest me enough to bother, so I get them from a 2nd hand shop.I quite like sharpening, so I do that now and then.I don't feel that time spent vacuuming makes me a better person.I don't think using a washing machine is cheating.If I had a robot that could do most of my domestic chores I expect I would use it most of the time.

Just imagine the complete mess their Desktop would be if the OS sent downloads there, lol.

>I think there was a bit of a difference in quality up until about 15 years ago.Going by those excellent charts[1], there were two distinct "kinks" in intensity of change; around 2000 and around 2015.>the internetThe best explainer I've seen thus far is that loading articles with keywords improves searchability and readership metrics. My far fetched hypothesis is that it is a side effect of the present form of search - dominated by one vertical that has strayed far, far away from the original Page Rank idea.--[1] use of progressive keywords in newspapers, a thread https://twitter.com/ZachG932/status/1133441085118853120[1.1] more terms, NYT https://i.imgur.com/CZfsLsk.jpg

I suppose I just don't believe that would happen. You can still practice social distancing/face masks/hand washing without shelter-in-place. I believe those three things alone would significantly slow down the spread to manageable levels. So I simply don't see a scenario where it "grows unchecked" to millions in the USA. It would hit millions eventually (like swine flu) but it would be manageable (not "unchecked"). Most of the US is geographically separated and not densely populated (except for cities like NYC), and we are only at 3M cases globally and that is with months of growth.Lastly, even if it grew unchecked, I don't believe overwhelming the healthcare system would crash the economy. It might devastate the healthcare industry, but it wouldn't devastate all industries like prolonged, no-end-in-sight lockdowns are doing.  I also don't believe it would "kill [significant amounts of] young people" because I believe the mortality rate is much lower than currently estimated.Suicide is already killing more young people than covid-19 due to lockdown. 2 USAFA cadets committed suicide because of lockdown orders this month, yet 0 cadets have died from covid-19.

In [0]:
class MLStripper(HTMLParser):
    def __init__(self):
        super().__init__()
        self.reset()
        self.fed = []
    def handle_data(self, d):
        self.fed.append(d)
    def get_data(self):
        return ' '.join(self.fed)


def strip_tags(html):
    s = MLStripper()
    s.feed(html)
    return s.get_data()

In [0]:
df['Text']  = df['Text'].apply(html.unescape)

In [7]:
#before converting to lower:
df['Text'][77]

'Shoulder pads are back in'

In [8]:
#convert to lower case
df['Text'] = df['Text'].apply(lambda x: ' '.join(x.lower() for x in x.split()))

df['Text'][77]

'shoulder pads are back in'

In [9]:
#stopwords:
stop = stopwords.words('english')
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['Text'][77]

'shoulder pads back'

In [10]:
#stemming
st = PorterStemmer()
df['Text'] = df['Text'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
df['Text'][77]

'shoulder pad back'

In [11]:
#create object
nltk.download('vader_lexicon')
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [0]:
#define analyzer
def vaderize(sentence):
    return analyzer.polarity_scores(sentence)

In [0]:
df['Scores'] = df['Text'].apply(vaderize)

In [14]:
#check
df.head(10)

   Unnamed: 0  ...                                             Scores
0           0  ...  {'neg': 0.142, 'neu': 0.828, 'pos': 0.03, 'com...
1           1  ...  {'neg': 0.095, 'neu': 0.838, 'pos': 0.068, 'co...
2           2  ...  {'neg': 0.123, 'neu': 0.677, 'pos': 0.201, 'co...
3           3  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4           4  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
5           5  ...  {'neg': 0.049, 'neu': 0.841, 'pos': 0.11, 'com...
6           6  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
7           7  ...  {'neg': 0.057, 'neu': 0.816, 'pos': 0.127, 'co...
8           8  ...  {'neg': 0.0, 'neu': 0.945, 'pos': 0.055, 'comp...
9           9  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...

[10 rows x 4 columns]

In [0]:
df[['neg', 'neu', 'pos', 'compound']] = df.Scores.apply(pd.Series)

In [16]:
#sort
for text in df.sort_values(by='neg', ascending=False)['Text'].head(20):
    print(text, '\n')

no,

fuck amp fuck google.

need turn alarm though :(

hate amazon again?

conclusion. could done (arrest spi terrorists). bomb civilian reprehensible, 'safeguarding' terrorist pretti vile.

john carreyou: bad blood.

stop, we'r done.

behavior et compar set kill signal ssh config? sometim kill signal get kill half hour longer.

text editor user wrong.

lol... keep poor mad...

includ death covid-19 total involv similar symptoms. lot problem caus pneumonia cardiac arrest, said pneumonia patient test negative. appar healthi peopl die suddenli time, sadly.

softbank massiv fuck one. feel bad current employees. https://news.ycombinator.com/item?id=14783521

beethoven bigger "piano". also, littl outrag thread - sadness, resignation, head shake sure, outrage.

wouldn’t 256^256? that’ certainli hell haystack

patent would reject presum

oops, sorry, stupid blunder. thank correction.

author writing, section, blind (i.e. path) attacks. given attack model off-path see challeng ack.

tri racist, twitter term fake ai startup (start one indian man).

22% death offici report india . ..

nyc current 1462 death per million.

In [17]:
df['len'] = df['Text'].str.len()  # Store string length of each sample
df.head(10)

   Unnamed: 0          User  ... compound   len
0           0       thu2111  ...  -0.9428   947
1           1     noisy_boy  ...  -0.0000   270
2           2         lopis  ...   0.4767   193
3           3         aexol  ...   0.0000   169
4           4  frockington1  ...   0.0000   127
5           5     alpaca128  ...   0.4215   360
6           6      alkonaut  ...   0.0000   149
7           7       giantg2  ...   0.8781  1161
8           8  9wzYQbTYsAIc  ...   0.1779   208
9           9        Jonnax  ...   0.0000    45

[10 rows x 9 columns]

In [18]:
#check
df.head(10)

   Unnamed: 0          User  ... compound   len
0           0       thu2111  ...  -0.9428   947
1           1     noisy_boy  ...  -0.0000   270
2           2         lopis  ...   0.4767   193
3           3         aexol  ...   0.0000   169
4           4  frockington1  ...   0.0000   127
5           5     alpaca128  ...   0.4215   360
6           6      alkonaut  ...   0.0000   149
7           7       giantg2  ...   0.8781  1161
8           8  9wzYQbTYsAIc  ...   0.1779   208
9           9        Jonnax  ...   0.0000    45

[10 rows x 9 columns]

In [0]:
# #textblob
# def textblob_score(sentence):
#     return TextBlob(sentence).sentiment.polarity

In [0]:
# # Convert textblob sentiment score
# df['textblob_score'] = df['Text'].apply(textblob_score)
# # Convert float score to category based on binning
# df['textblob_pred'] = pd.cut(df['textblob_score'], bins=5, labels=[1, 2, 3, 4, 5])
# df = df.drop('textblob_score', axis=1)
# df.head()

In [0]:
#define analyzer
vader = SentimentIntensityAnalyzer()
def score_vader(sentence, vader):
    return vader.polarity_scores(sentence)['compound']

In [23]:
# Calculate Vader sentiment score
df['vader_score'] = df['Text'].apply(lambda x: score_vader(x, vader))
# Convert float score to category based on binning
df['vader_pred'] = pd.cut(df['vader_score'], bins=5, labels=[1, 2, 3, 4, 5])
df = df.drop('vader_score', axis=1)
df.head(20)

    Unnamed: 0          User  ...   len vader_pred
0            0       thu2111  ...   947          1
1            1     noisy_boy  ...   270          3
2            2         lopis  ...   193          4
3            3         aexol  ...   169          3
4            4  frockington1  ...   127          3
5            5     alpaca128  ...   360          4
6            6      alkonaut  ...   149          3
7            7       giantg2  ...  1161          5
8            8  9wzYQbTYsAIc  ...   208          3
9            9        Jonnax  ...    45          3
10          10     Chris2048  ...    11          4
11          11       thu2111  ...   154          2
12          12  winkeltripel  ...   185          4
13          13         pjmlp  ...   206          2
14          14   Waterluvian  ...   177          1
15          15         leejo  ...   517          5
16          16   waynenilsen  ...   150          4
17          17  cameronbrown  ...    98          3
18          18   asdkjh345fd  ...    55          3
19          19       retSava  ...   331          3

[20 rows x 10 columns]